<div class="detail-box position">
  <%= link_to "", proposal_position_path(position.proposal, position), class: "overlay" %>
  <div class="row">
    <div class="col-md-9">
      <% if position.agree %>
        <h3 class="text-success">
          <i class="glyphicon glyphicon-thumbs-up"></i>
          <%= position.title %>
        </h3>
      <% else %>
        <h3 class="text-danger">
          <i class="glyphicon glyphicon-thumbs-down"></i>
          <%= position.title %>
        </h3>
      <% end %>
      <blockquote>
        <p><%= position.body %></p>
        <footer><%= position.user_name %></footer>
      </blockquote>
    </div>
    <div class="col-md-3 side">
      <div class="side-count">
        <div class="lead"><%= position.agreements.count %> agree</div>
        <%= link_to 'Write Agreement',
            new_proposal_position_path(position.proposal, agree: true, parent_id: position.id),
            class: "over-overlay" %>
      </div>
      <div class="side-count">
        <div class="lead"><%= position.disagreements.count %> disagree</div>
        <%= link_to 'Write Disagreement',
            new_proposal_position_path(position.proposal, agree: false, parent_id: position.id),
            class: "over-overlay" %>
      </div>
    </div>
  </div>
</div>
