<div class="detail-box position">
  <div class="row">
    <div class="col-md-9">
      <% if position.agree %>
        <h3 class="text-success">
          <i class="glyphicon glyphicon-thumbs-up"></i>
          <%= position.title %>
        </h3>
      <% else %>
        <h3 class="text-danger">
          <i class="glyphicon glyphicon-thumbs-down"></i>
          <%= position.title %>
        </h3>
      <% end %>
      <blockquote>
        <p><%= position.body %></p>
        <footer><%= position.user_name %></footer>
      </blockquote>
      <p>
        <%= link_to '<i class="glyphicon glyphicon-eye-open"></i> View Sub-arguments'.html_safe, [position.proposal, position], class: "wide-link" %>
      </p>
    </div>
    <div class="col-md-3 center">
      <div>
        <div class="lead">+12</div>
        <a class="text-success">Write Agreement</a>
      </div>
      <div>
        <div class="lead">-5</div>
        <a class="text-danger"></i> Write Disagreement</a>
      </div>
    </div>
  </div>
</div>
