<div class="right-link">
  <% if @position.parent %>
    <%= link_to "Go Up a Level", [@position.proposal, @position.parent] %>
  <% else %>
    <%= link_to "Go Back to this Proposal", @position.proposal %>
  <% end %>
</div>

<h1>Sub-arguments</h1>

<%= render @position %>

<%= render partial: "position_tree" %>

<div class="responses">
  <% @position.responses.each do |r| %>
    <%= render r %>
  <% end %>
</div>
