<div class="right-link">
  <%= link_to "Return to All Propositions", propositions_path %>
</div>

<h1>New Proposition</h1>

<% if @proposition.errors.any? %>
  <div class="alert alert-danger">
    <p><%= pluralize(@proposition.errors.count, "error") %> prohibited this record from being saved:</p>
    <ul>
      <% @proposition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @proposition do |f| %>
  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :name, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: 8 %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
