<div class="detail-box proposal">
  <%= link_to "", proposal_path(proposal), class: "overlay" %>
  <div class="row">
    <div class="col-md-9">
      <h3><%= proposal.title %></h3>
      <blockquote>
        <p><%= proposal.body %></p>
        <footer><%= proposal.user_name %></footer>
      </blockquote>
      <p>
        <%= link_to '<i class="glyphicon glyphicon-thumbs-up"></i> Write Agreement'.html_safe,
            new_proposal_position_path(proposal, agree: true),
            class: "wide-link text-success over-overlay" %>
        <%= link_to '<i class="glyphicon glyphicon-thumbs-down"></i> Write Disagreement'.html_safe,
            new_proposal_position_path(proposal, agree: false),
            class: "wide-link text-danger over-overlay" %>
        <%= link_to '<i class="glyphicon glyphicon-eye-open"></i> View Arguments'.html_safe,
            proposal,
            class: "wide-link over-overlay" %>
      </p>
    </div>
    <div class="col-md-3">
      <svg class="half-donut"></svg>
    </div>
  </div>
</div>
