<div class="right-link">
  <%= link_to "Return to All Proposals", proposals_path %>
</div>

<h1>Proposal Arguments</h1>

<%= render @proposal %>

<script>
  var allPercentages = [<%= @proposal.percentage_agreement.round %>];
</script>

<%= render partial: "proposal_tree" %>

<div class="responses">
  <% @proposal.positions.direct.each do |p| %>
    <%= render p %>
  <% end %>
</div>
